<div id="contact" class="section">
  <div class="fixed-wrapper"><h2>New Company</h2></div>
  <div class="container">
    
    <div class="content">      
      <%= form_for @company do |f| %>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <div class="form-group">
          <%= f.text_field :name, placeholder: "Your company's name", autofocus: true %>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <%= f.text_area :address, placeholder: 'Company address', size: '5x5' %>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <%= f.text_field :city, placeholder: 'Company city' %>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <%= f.text_field :state, placeholder: 'Company state' %>
          <div class="clearfix"></div>
        </div>
        <div class="form-group field_with_errors">
          <%= f.text_field :zip, placeholder: 'Company zip code' %>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <%= f.telephone_field :phone, placeholder: 'Company phone' %>
          <div class="clearfix"></div>
        </div>        
        <%= f.submit 'Add Company!', class: 'btn btn-lg', method: :post %> 
        <%#= render "Employee/shared/links" %>     
      <% end %>
    </div>
    <br />
    
  </div>
</div><!-- /.container -->  
