<%#= link_to 'Sign in with Facebook', employee_omniauth_authorize_path(:facebook) %>
<% if employee_signed_in? %>
	Logged in as <strong><%= current_user.full_name %></strong>
	<%= link_to 'Edit profile', edit_employee_registration_path %>
	<%= link_to 'Logout', destroy_employee_session_path, method: :delete %>
<% else %>
	<%= link_to 'Sign up', new_employee_registration_path %> | 
	<%= link_to 'Login', new_employee_session_path %>
	<li>
		<%= link_to	'Facebook', employee_omniauth_authorize_path(:facebook) %></li>
<% end %>
